<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="profile-card">
        <img class="profile-img" src="/assets/profile-img.jpg" alt="Avatar">
        <br>
        <h3>First Name</h3>
        <button type="button" class="btn-outline-secondary btn-red">Edit Profile</button>
        <div>
          <ul class="list-group list-group-horizontal list-no-bullets">
            <li class="">170 <span>Loved articles</span></li>
            <li class="">200 <span>Want to try</span></li>
          </ul>
        </div>
      </div>
      <div class="sharing-links">
        <p>Share with your friends</p>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="taste-profile"><h4>My Taste Profile</h4>
        <ul class="list-group list-group-horizontal list-no-bullets">
          <li>
            <div class="stats-circle">
              <p>#orgasm<span>45%</span></p>
            </div>
          </li>
          <li>
            <div class="stats-circle">
              <p>#bondage<span>20%</span></p>
            </div>
          </li>

          <li>
            <div class="stats-circle">
              <p>#oral<span>15%</span></p>
            </div>
          </li>

          <li>
            <div class="stats-circle">
              <p>#toys<span>10%</span></p>
            </div>
          </li>

          <li>
            <div class="stats-circle">
              <p>#clit<span>10%</span></p>
            </div>
          </li>
        </ul>


        <div class="reactions-history">
          <div class="tabs">
            <p>
              <a class="btn-outline-secondary btn-red" data-toggle="collapse" href="#love" role="button" aria-expanded="false" aria-controls="love">
                Loved articles
              </a>
              <a class="btn-outline-secondary btn-red" data-toggle="collapse" href="#want_to_try" role="button" aria-expanded="false" aria-controls="want_to_try">
                Want to try articles
              </a>
            </p>
          </div>
          <div class="tab-content">
            <div class="collapse" id="love">
              <div class="card card-body">
                <div class="cards">
                  <div class="col">

                  <% current_user.reactions.where(reaction:"love").each do |reaction| %>
                  <%# link_to category_article_path(article.category_id, article.id) do %>
                    <div class="card-bg" style="background-image: url(<%= reaction.article.img_url %>);">
                    </div>
                    <div class="p-2 mb-3">
                      <p class="card-author-up">#
                        <%= reaction.article.category.name%>
                      </p>
                      <h4 class="mb-4">
                        <%= reaction.article.title %>
                      </h4>
                      <p class="card-author-up author-border">
                        <%= reaction.article.source %>
                      </p>
                    </div>
                    <%# end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse" id="want_to_try">
              <div class="card card-body">
                <div class="cards">
                  <div class="col">

                  <% current_user.reactions.where(reaction:"want_to_try").each do |reaction| %>
                  <%# link_to category_article_path(article.category_id, article.id) do %>
                    <div class="card-bg" style="background-image: url(<%= reaction.article.img_url %>);">
                    </div>
                    <div class="p-2 mb-3">
                      <p class="card-author-up">#
                        <%= reaction.article.category.name%>
                      </p>
                      <h4 class="mb-4">
                        <%= reaction.article.title %>
                      </h4>
                      <p class="card-author-up author-border">
                        <%= reaction.article.source %>
                      </p>
                    </div>
                    <%# end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% if false %>
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :email, required: true, autofocus: true %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>

  <%= f.input :password,
  hint: "leave it blank if you don't want to change it",
  required: false,
  input_html: { autocomplete: "new-password" } %>
  <%= f.input :password_confirmation,
  required: false,
  input_html: { autocomplete: "new-password" } %>
  <%= f.input :current_password,
  hint: "we need your current password to confirm your changes",
  required: true,
  input_html: { autocomplete: "current-password" } %>
</div>

<div class="form-actions">
  <%= f.button :submit, "Update" %>
</div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

<% end %>

<script>
  console.log("hey test")
  const tab1 = document.getElementById("link1")
  const tab2 = document.getElementById("link2")
  tab1.addEventListener('click', () => {
    document.getElementById("try").style.display = "none"
    document.getElementById("loved").style.display = "block"
  })

  tab2.addEventListener('click', () => {
// evento de clicar Want to Try - id = test2
document.getElementById("loved").style.display = "none"
document.getElementById("try").style.display = "block"
})
</script>
