<h1> Title Index</h1>
<div class="maxi-container">
  <% i = 1 %>
  <% @articles.each do |article| %>
  <div class="d-flex container-main-articles">

    <div class="head">

      <h2><%= article.title %></h2>
      <h6>category</h6>
      <p>
        <%= article.content %>
      </p>
      <%= link_to user_path(article.user) do %>
      <p class="by-author">By <%=  %></p>
      <% end %>
      <%= link_to "Read more..",category_article_path(article.category,article) %>

    </div>
<% if i.even? %>
  <div class="image-article-right">
  <% else %>
    <div class="image-article">
<% end %>
     <img src="<%= article.img_url %>" alt="">

    </div>
  </div>
  <% i = i + 1 %>
    <% end %>
  </div>
</div>
