<!-- ARTICLES SINGLE -->
<div class="container">
  <div class="d-flex container-header">

    <div class="head head-card-margin" >
      <h6>#<%= @category.name %></h6>
      <h1><%= @article.title %></h1>
      <h4>By <%= @article.user.name %></h4>

      <div class="tabs">
         <%= (@article_love_count) %>
        <% color = current_user.loved?(@article) ? "red" : "gray" %>

        <%= link_to love_category_article_path(@category, @article), method: :post do %>

          <i class="fas fa-heart" id="coracao"></i>

        <% end %>

        <%= (@article_wtt_count) %>
        <% color = current_user.wtted?(@article) ? "red" : "gray" %>

        <%= link_to wtt_category_article_path(@category, @article), method: :post do %>

          <i class="fas fa-bookmark" id="marca"></i>

        <% end %>

        <%#= (@article_save_count) %>
        <%# color = current_user.saved?(@article) ? "red" : "gray" %>

        <%#= link_to save_category_article_path(@category, @article), method: :post do %>
          <!-- <i class="fas fa-save" id="salva"></i> -->
        <%# end %>
      </div>
    </div>

    <div class="image">
      <div class="box-red">

      </div>
      <img src="<%= @article.img_url %>" alt="">
    </div>
  </div>

  <div>

    <p class="content-article-justify article-layout">
      Romy Schneider, Mireille Darc, Françoise Hardy... Ces party girls donnaient le ton dans les années 70 avec des silhouettes grand soir qui nous inspirent toujours aujourd'hui. Exemple probant : la toute dernière collection de Claudie Pierlot pour illuminer les fêtes. Baptisée "Neon Fantasy", cette capsule imaginée par le label parisien est ponctuée de teintes néon tel que le fuchsia, d'imprimés psychédéliques et d'un motif léopard. Dès la nuit tombée, le vestiaire se pare de noir et se sublime de sequins brodés sur de parfaites robes de soirée, d'un revers métallisé pour la veste de costume et d’un jupon de dentelle sur l'emblématique petite robe noire.

      Véritable ode aux fêtes de fin d'année, la collection capsule "Neon Fantasy" est à retrouver dès aujourd'hui dans les boutiques Claudie Pierlot et sur Claudie Pierlot.com.Romy Schneider, Mireille Darc, Françoise Hardy... Ces party girls donnaient le ton dans les années 70 avec des silhouettes grand soir qui nous inspirent toujours aujourd'hui. Exemple probant : la toute dernière collection de Claudie Pierlot pour illuminer les fêtes. Baptisée "Neon Fantasy", cette capsule imaginée par le label parisien est ponctuée de teintes néon tel que le fuchsia, d'imprimés psychédéliques et d'un motif léopard. Dès la nuit tombée, le vestiaire se pare de noir et se sublime de sequins brodés sur de parfaites robes de soirée, d'un revers métallisé pour la veste de costume et d’un jupon de dentelle sur l'emblématique petite robe noire.

      Véritable ode aux fêtes de fin d'année, la collection capsule "Neon Fantasy" est à retrouver dès aujourd'hui dans les boutiques Claudie Pierlot et sur Claudie Pierlot.com.
    </p>
  </div>
<!-- REVIEWS -->


<div class="row">


  <!-- <div class="stickyscroll"> -->

    <div class="col-6" id="sticky-write-new">
     <div class="sticky-new">
       <h6>Would you like to became
        <br>an author?</h6>
        <%= link_to 'Write your 1st Article>', new_article_path
        %>
      </div>
    </div>
    <!-- </div> -->

    <div class="col-6">
      <div class="add-review-section">

        <div class="btn btn-red">
          <%= link_to "Add new Review", new_category_article_review_path(params[:category_id],params[:id]) %>

        </div>
      </div>
    </div>


    <div class="d-flex rev">
      <% @article.reviews.each do |review| %>
      <p><%= review.content %></p>
      <% end %>
    </div>

    </div>
  </div>






<!-- ARTICLES RELATED -->


<div class="container-related-articles border-top">
  <div class="container">
    <h4 class="recommend-title">Reading Recommendations</h4>
    <div style="margin-top:15px;">
      <div class="d-flex justify-content-between event-section">
        <% Article.all.sample(5).each do |article|%>
        <%= link_to category_article_path(article.category_id, article.id) do %>
        <div class="event-card">
          <div class="card-bg" style="background-image: url(<%= article.img_url %>);"></div>
          <div class="p-2">
            <p class="card-author-up">#<%= Category.find(article.category_id).name %></p>
            <h4 class="mb-4"><%= article.title %></h4>
            <p class="card-author-up author-border"><%= User.find(article.user_id).name %></p>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>






  </div>
</div>
<script>
  console.log("Hey there")
  var button = document.getElementById("coracao")
  count = 0;
  button.onclick = function() {
    count += 1;
  }

  var button2 = document.getElementById("marca")
  count = 0;
  button2.onclick = function() {
    count += 1;
  }

  var button3 = document.getElementById("salva")
  count = 0;
  button2.onclick = function() {
    count += 1;
  }
</script>

