<!-- ARTICLES SINGLE -->
<div class="container">
  <div class="d-flex container-header">
    <div class="head head-card-margin" >
<% content_for :meta_title, "#{@article.title} is on #{DEFAULT_META["fetysh_club"]}" %>
<% content_for :meta_description, @article.content %>
<% content_for :meta_image, cl_image_path(@article.photo) %>
      <h6>#<%= @category.name %></h6>
      <h2 class="mb-3"><%= @article.title %></h2>
      <h4>By <%= @article.source.nil? ? @article.user.name : @article.source %></h4>
      <p class="card-article-parag"><%= @article.created_at.strftime("%d. %B %Y") %></p>
      <div class="tabs">
        <% if current_user.loved?(@article) %>
        <%= link_to love_category_article_path(@category, @article), method: :post do %>
        <p style="color:#910722; font-size: 24px;"><i class="fas fa-heart"></i></p>
        <% end %>
        <% else  %>
        <%= link_to love_category_article_path(@category, @article), method: :post do %>
        <p style="color:gray;font-size: 24px;"><i class="far fa-heart"></i></p>
        <% end %>
        <% end %>

        <% if current_user.wtted?(@article) %>
        <%= link_to wtt_category_article_path(@category, @article), method: :post do %>
        <p style="color:#910722; font-size: 24px;"><i class="fas fa-bookmark"></i></p>
        <% end %>
        <% else  %>
        <%= link_to wtt_category_article_path(@category, @article), method: :post do %>
        <p style="color:gray;font-size: 24px;"><i class="far fa-bookmark"></i></p>
        <% end %>
        <% end %>
      </div>
       <div class="fb-share-button" data-href="<%= request.fullpath %>" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2Fcategories%2F132%2Farticles%2F565&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
    </div>

    <div class="image">
      <div class="box-red"></div>
      <img src="<%= @article.photo %>" alt="">
    </div>
  </div>

  <div class="article-layout-padding">

    <% sentences = @article.content.split(/(?<=[?.!])/) %>
    <% x = 0 %>
    <% y = 4 %>
    <% until y > sentences.length  %>
    <p class="content-article-justify article-layout"> <%= sentences[x..y].join(" ")%></p>
    <% x = y+1 %>
    <% y+= 5 %>
    <% end %>
  </div>
  <!-- REVIEWS -->
  <div class="border-bottom border-top pt-4 review-btn-layout article-layout-padding" >
    <p>
      <button class="form-actions btn-red" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Add a New Review
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <div class="form-group ">
          <%= simple_form_for [@category, @article, @review] do |f| %>
          <%= f.input   :content,
          label: "Description review",
          required: true %>
          <div class="form-actions btn-login">
            <%= f.button :submit, "Post review" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <% @reviews.each do |review| %>
    <div class="border-bottom mt-4">
      <div class="d-flex">
        <img src="https://source.unsplash.com/featured/?face", class="avatar" />
      </div>
      <p class="review-content pt-2"><%= review.content %></p>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-12" id="sticky-write-new">
     <div class="sticky-new">
       <h6>Would you like to became
        <br>an author?</h6>
        <%= link_to 'Write your 1st Article>', new_article_path
        %>
      </div>
    </div>
  </div>
</div>
<!-- ARTICLES RELATED -->


<div class="container-related-articles border-top">
  <div class="container">
    <h4 class="recommend-title">Reading Recommendations</h4>
    <div style="margin-top:15px;">
      <div class="d-flex justify-content-between event-section">
        <% Article.all.sample(5).each do |article|%>
        <%= link_to category_article_path(article.category_id, article.id) do %>
        <div class="event-card">
          <div class="card-bg" style="background-image: url(<%= article.photo %>);"></div>
          <div class="p-2">
            <p class="card-author-up">#<%= Category.find(article.category_id).name %></p>
            <h4 class="mb-4"><%= article.title %></h4>
            <p class="card-author-up author-border"><%= article.source %></p>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
  var button = document.getElementById("coracao")
  count = 0;
  button.onclick = function() {
    count += 1;
  }

  var button2 = document.getElementById("marca")
  count = 0;
  button2.onclick = function() {
    count += 1;
  }

  var button3 = document.getElementById("salva")
  count = 0;
  button2.onclick = function() {
    count += 1;
  }

</script>

