<% if user_signed_in? %>
<nav class="navbar sticky-top navbar-expand-lg bg-light navbar-custom">
  <%= link_to image_tag("Fetysh-logo.svg.png", :class => "navbar-brand"), "/home" %>

  <%= form_tag results_path, method: :get do %>
  <div class="searchBox">
  <%= text_field_tag :query, params[:query], class: "searchInput", placeholder: "Search Fetysh" %>
  <button class="searchButton" href="pages#results">
    <i class="fas fa-search"></i>
  </button>
  <% end %>
  </div>

  <div class="collapse navbar-collapse d-flex justify-content-end align-items-center" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Discover", events_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Publish", new_article_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Create", new_event_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to edit_user_registration_path do %>
        <img src=<%= current_user.photo %> class="avatar">
        <% end %>
      </li>
    </ul>
  </div>
</nav>
<% end  %>
