<div class="black-bg">
  <div class="container">
    <p class="pt-4"> <%= @event.address %> / <%= @event.category.name %></p>
    <img class="event-img-show" src=<%= @event.photo %>>
    <div class="row">
      <div class="col-5">
        <p class="upcase pt-4"><%= @event.category.name %></p>
        <h2> <%= @event.title %></h2>
        <p><%= @event.address %></p>
        <p><strong><%= @ratings.average(:stars).to_s.to_f.round(2)%></strong> <i class="fas fa-star"></i> (<%= @ratings.length %>)</p>
        <%= link_to @event.category.name, events_path, class:"btn btn-event" %>
      </div>
      <div class="col-7">
        <div class="d-flex justify-content-around pt-4 info-grey">
          <div>
            <p><i class="fas fa-clock"></i></p>
            <p class="mb-0">Duration</p>
            <p class="text-white"><strong>3 hours</strong></p>
          </div>
          <div>
            <p><i class="fas fa-users"></i></p>
            <p class="mb-0">Participants</p>
            <p class="text-white"><strong><%= rand(20..150) %></strong></p>
          </div>
          <div>
            <p><i class="fas fa-comments"></i></p>
            <p class="mb-0">Hosted In</p>
            <p class="text-white"><strong>English</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TEXT SECTIONS -->
<div class ="text-grey">
  <div class="container">
    <div class="row section-pad">
      <div class="col-5">
        <h2 class="weight-600">What you'll do</h2>
      </div>
      <div class="col-7">
        <p class="font-18">
          <%= @event.description %>
        </p>
      </div>
    </div>
    <div class="row section-pad">
      <div class="col-5">
        <h2 class="weight-600">Your host</h2>
      </div>
      <div class="col-7">
        <div class="d-flex align-items-center">
          <img class= "avatar-xl" src=<%= @event.photo %>>
          <h3 class="font-24 weight-600 ml-4"><%= @event.organizer %></h3>
        </div>
        <p class="font-18 pt-4"><%= @event.user.description %></p>
        <a href="" class="btn btn-red">Contact host</a>
      </div>
    </div>

    <!-- MAP -->
    <div class="row section-pad">
      <div class="col-5">
        <h2 class="weight-600">Where you'll be</h2>
      </div>
      <div class="col-7" style="height:400px;">
        <div
        id="map"
        style="width: 100%;
        height: 100%;"
        data-markers="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>
    </div>

    <!-- REVIEWS -->
    <div class="row section-pad">
      <div class="col-5">
        <h2 class="weight-600">Guest Reviews</h2>
      </div>
      <div class="col-7">
        <p>
          <button class="form-actions btn-red" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Add a New Review
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <div class="form-group ">
              <%= simple_form_for [@event, @rating] do |f| %>
              <%= f.input   :stars, collection: (1..5).to_a, label: "Stars",
              required: true %>
              <%= f.input   :content,
              label: "Description",
              required: true %>
              <div class="form-actions btn-login">
                <%= f.button :submit, "Post rating", class:"btn-red" %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <div>
          <% @ratings.each do |rating| %>
          <div class="border-bottom pt-4">
            <div class="d-flex">
              <img class= "avatar" src=<%= rating.user.photo %>>
              <div class="pl-4">
                <p class="font-14 m-0"><span class="font-16"><%= rating.user.name %></span> · <%= rating.created_at.strftime("%B %Y") %></p>
                <p><%= "⭐️" * rating.stars %></p>
              </div>
            </div>
            <p class="font-18 light-grey">
              <%= rating.content %>
            </p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- STICKY BOOKING BAR-->
<div class="sticky-bar light-grey">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <img class= "avatar" src=<%= @event.user.photo %>>
        <p class ="m-0 pl-2 font-14"> <strong><%= @event.title %></strong> </p>
      </div>
      <div class="d-flex align-items-center">
        <p class ="m-0 pr-2"> From <%= humanized_money_with_symbol(@event.price)%> /person</p>
        <%= form_tag orders_path do %>
        <%= hidden_field_tag 'event_id', @event.id %>
        <%= submit_tag 'Book', class: 'btn btn-book' %>
        <% end %>
      </div>
    </div>
  </div>

</div>
