<div class="container">
  <div class="row py-4">
    <div class="col-6"><%= image_tag @order.event.photo, width: '100%' %></div>
    <div class="col-6">
      <h1>Order #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.state %></span></small></h1>
      <table class="table">
        <tbody>
          <tr>
            <td>Event:</td>
            <td><%= @order.event.title %></td>
          </tr>
          <tr>
            <td>Issued On:</td>
            <td><%= @order.created_at.to_date.strftime("%d. %B %Y") %></td>
          </tr>
          <tr>
            <td>Total:</td>
            <td><%= humanized_money_with_symbol @order.amount %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to "See my orders", edit_user_registration_path, class:"btn  btn-red"%>
    </div>
  </div>
</div>


