<div id="outer">
  <div id="home-top-video" >
    <%= video_tag "bg_video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute %>
  </div>
</div>

<div class="full-section d-block p-4">
  <div class="container">
    <div class="section-landing">
      <h2 class="category-heading">Orgasm</h2>
    </div>

    <!-- ARTICLES -->

    <div class="stickyscroll">
      <div class="sticky-element d-flex align-items-center">
        <h3 class="image-title-white">How to reach your dream orgams in 5 steps</h3>
      </div>
      <div class="col">

        <div>
          <div class="wrapper">
            <img class="landing-img" src="https://images.unsplash.com/photo-1492632503949-a31d9972b400?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80" alt="Card image cap">
            <div class="overlay"></div>
            <div class="p-2">
              <p class="card-author-up">Zu Tisch</p>
              <h4 class="mb-4">Best of Instagram: Die besten (Mode-)Momente der vergangenen Woche</h4>
              <p class="card-author-up author-border">Von Martin Ditzel</p>
            </div>
          </div>
        </div>

        <div>
          <div class="wrapper mt-4">
            <img class="landing-img" src="https://images.unsplash.com/photo-1492632503949-a31d9972b400?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80" alt="Card image cap">
            <div class="overlay"></div>
            <div class="p-2">
              <p class="card-author-up">Zu Tisch</p>
              <h4 class="mb-4">Best of Instagram: Die besten (Mode-)Momente der vergangenen Woche</h4>
              <p class="card-author-up author-border">Von Martin Ditzel</p>
            </div>
          </div>
        </div>

      </div>
      <div class="col">
        <div>
          <div class="wrapper">
            <img class="landing-img" src="https://images.unsplash.com/photo-1492632503949-a31d9972b400?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80" alt="Card image cap">
            <div class="overlay"></div>
            <div class="p-2">
              <p class="card-author-up">Zu Tisch</p>
              <h4 class="mb-4">Best of Instagram: Die besten (Mode-)Momente der vergangenen Woche</h4>
              <p class="card-author-up author-border">Von Martin Ditzel</p>
            </div>
          </div>
        </div>
        <div>
          <div class="wrapper mt-4">
            <img class="landing-img" src="https://images.unsplash.com/photo-1492632503949-a31d9972b400?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80" alt="Card image cap">
            <div class="overlay"></div>
            <div class="p-2">
              <p class="card-author-up">Zu Tisch</p>
              <h4 class="mb-4">Best of Instagram: Die besten (Mode-)Momente der vergangenen Woche</h4>
              <p class="card-author-up author-border">Von Martin Ditzel</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--         EVENTS -->
    <div class="section-landing mt-4">
      <h2 class="category-heading">Experiences</h2>
    </div>
    <div>
      <div class="d-flex">
        <% @events.first(5).each do |event|%>
        <div class="wrapper exp-pad">
          <img class="landing-img" src=<%= event.img_url %>>
          <div class="p-2">
            <p class="card-author-up exp-details"><%= event.address %></p>
            <h5 class="mb-4"><%= event.title %></h5>
            <p class="card-author-up author-border exp-details">By <%= User.find(event.user_id).name %></p>
          </div>
        </div>
        <% end %>
      </div>
      <h5><%= link_to "Show all experiences >","#", style:"text-decoration:none"%></h5>
    </div>
  </div>
</div>
