<div id="outer">
  <div id="home-top-video" >
    <%= video_tag "bg_video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute %>
  </div>
</div>

<!-- ARTICLES -->
<div class="full-section d-block p-4">
  <div class="container">
    <div class="section-landing">
      <h2 class="category-heading"><%= Category.first.name %></h2>
    </div>

    <div class="stickyscroll">
      <div class="col">
        <% @articles.where("category_id = ?", Category.first.id).sample(1).each do |article| %>
        <%= link_to category_article_path(article.category_id, article.id) do %>
        <div class="sticky-element align-items-center justify-content-center" style="background-image: url(<%= article.img_url %>)">
          <h3 class="image-title-white"><%= article.title %></h3>
        </div>
        <% end  %>
        <% end  %>
      </div>
      <div class="col">
        <% @articles.where("category_id = ?", Category.first.id).sample(2).each do |article| %>
        <%= link_to category_article_path(article.category_id, article.id) do %>
        <div>
          <div class="card-bg" style="background-image: url(<%= article.img_url %>);"></div>
          <div class="p-2">
            <p class="card-author-up">#<%= Category.find(article.category_id).name %></p>
            <h4 class="mb-4"><%= article.title %></h4>
            <p class="card-author-up author-border"><%= article.source %></p>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>

      <div class="col">
        <% @articles.where("category_id = ?", Category.first.id).sample(2).each do |article| %>
        <%= link_to category_article_path(article.category_id, article.id) do %>
        <div>
          <div class="card-bg" style="background-image: url(<%= article.img_url %>);"></div>
          <div class="p-2">
            <p class="card-author-up">#<%= Category.find(article.category_id).name %></p>
            <h4 class="mb-4"><%= article.title %></h4>
            <p class="card-author-up author-border"><%= article.source %></p>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>


    <!--         EVENTS -->
    <div class="section-landing mt-4">
      <h2 class="category-heading">Experiences</h2>
    </div>
    <div>
      <div class="d-flex justify-content-between event-section">
        <% @events.sample(5).each do |event|%>
        <%= link_to event do %>
        <div class="event-card">
          <div class="card-bg" style="background-image: url(<%= event.img_url %>);"></div>
          <div class="p-2">
            <p class="card-author-up">#<%= Category.find(event.category_id).name %></p>
            <h4 class="mb-4"><%= event.title %></h4>
            <p class="card-author-up author-border"><%= event.address %></p>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
      <h5><%= link_to "Show all experiences >",events_path, style:"text-decoration:none"%></h5>
    </div>
  </div>
</div>
