<!-- ARTICLES -->
<div class="full-section d-block p-4">
  <div class="container">
    <div class="section-landing">
      <h2 class="category-heading">Articles</h2>
    </div>

    <div class="stickyscroll" style="margin-bottom: 120px;">
      <div class="col" id="stickymove">
        <% @articles.sample(1).each do |article| %>
        <%= link_to category_article_path(article.category_id, article.id), class:"hover-cards" do %>
        <div class="sticky-element align-items-center justify-content-center" style="height: 100vh, background-image: url(<%= article.img_url %>); background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)) , url(<%= article.img_url %>) center center;">
          <h3 class="image-title-white"><%= article.title %></h3>
        </div>
        <% end  %>
        <% end  %>
      </div>
      <div class="col">
        <% @articles.sample(3).each do |article| %>
        <%= link_to category_article_path(article.category_id, article.id) do %>
        <div>
          <div class="card-bg" style="background-image: url(<%= article.img_url %>);"></div>
          <div class="p-2 mb-3">
            <p class="card-author-up">#<%= Category.find(article.category_id).name %></p>
            <h4 class="mb-4"><%= article.title %></h4>
            <p class="card-author-up author-border"><%= article.source %></p>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>

      <div class="col">
        <% @articles.sample(3).each do |article| %>
        <%= link_to category_article_path(article.category_id, article.id) do %>
        <div>
          <div class="card-bg" style="background-image: url(<%= article.img_url %>);"></div>
          <div class="p-2 mb-3">
            <p class="card-author-up">#<%= Category.find(article.category_id).name %></p>
            <h4 class="mb-4"><%= article.title %></h4>
            <p class="card-author-up author-border"><%= article.source %></p>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>

    <!--         EVENTS -->
    <div class="section-landing mt-4">
      <h2 class="category-heading">Experiences</h2>
    </div>
    <div>
      <div class="d-flex justify-content-between event-section">
        <% @events.sample(5).each do |event|%>
        <%= link_to event do %>
        <div class="event-card">
          <div class="card-bg" style="background-image: url(<%= event.photo %>);"></div>
          <div class="p-2">
            <p class="card-author-up">#<%= Category.find(event.category_id).name %></p>
            <h4 class="mb-4"><%= event.title %></h4>
            <p class="card-author-up author-border"><%= event.organizer.split[0..1].join(" ")%></p>
            <p class="card-author-up"> <%= event.date.strftime("%d. %B %Y") %></p>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
      <h5><%= link_to "Show all experiences >",events_path, style:"text-decoration:none"%></h5>
    </div>
  </div>
</div>
