<div id="outer">
  <div id="home-top-video" >
    <%= video_tag "bg_video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute %>
  </div>
</div>

<div class="full-section d-block p-4">
  <div class="container">
    <div class="section-landing">
      <h2 class="category-heading">Orgasm</h2>
    </div>

    <div class="stickyscroll">
      <div class="sticky-element d-flex align-items-center">
        <h3 class="image-title-white">How to reach your dream orgams in 5 steps</h3>
      </div>
      <div style="flex-wrap: wrap;">
        <div class="row">
          <div class="col">
            <%= render 'shared/article' %>
            <%= render 'shared/article' %>
          </div>
          <div class="col">
            <%= render 'shared/article' %>
            <%= render 'shared/article' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


