<div class="results-container">
  <div class="d-flex justify-content-between">
    <div class="bg-white pr-4" style="display:absolute; height: 100vh; width:50%; overflow:scroll;">
      <h3>More than <%= @articles.size %> Articles</h3>
      <% @articles.each do |article| %>
      <% article = article.searchable %>
      <div class="card-show border-top pt-3">
        <div class="img-card">
          <img class="img-event" src=<%= article.img_url %>>
        </div>
        <div class="card-body">
          <div class="card-tag d-flex justify-content-between">
            <p class="card-author-up mb-1">#<%= article.title %></p>
          </div>
          <h4> <%= link_to article.title, category_article_path(article.id, article.category_id), style:"text-decoration:none"%></h4>
          <p class="event-description"><%= article.content.split[0..20].join(" ") %>...</p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="bg-white pl-4" style="display:absolute; height: 100vh; width:50%; overflow:scroll;">
      <h3>More than <%= @events.size %> Events</h3>
      <% @events.each do |event| %>
      <% event = event.searchable %>
      <div class="card-show border-top pt-3">
        <div class="img-card">
          <img class="img-event" src=<%= event.photo %>>
        </div>
        <div class="card-body">
          <div class="card-tag d-flex justify-content-between">
            <p class="card-author-up mb-1">#<%= event.title %></p>
          </div>
          <h4> <%= link_to event.title, event, style:"text-decoration:none"%></h4>
          <p class="event-description"><%= event.description.split[0..20].join(" ") %>...</p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
