<div class= "d-flex pl-4">
  <div class="bg-white pt-4" style="height: 100vh; overflow:scroll; display:absolute; width: 50%;">
    <h3>More than <%= @articles.size %> results</h3>
    <% @articles.each do |article| %>
    <div class="card-show border-top pt-3">
      <div class="img-card">
        <%= cl_image_tag event.photo, crop: :fill, class:"img-event" %>
      </div>
      <div class="card-body">
        <div class="card-tag d-flex justify-content-between">
          <p class="card-author-up mb-1">#<%= article.title %></p>
        </div>
        <h4> <%= link_to article.title, category_article(article.id), style:"text-decoration:none"%></h4>
        <p class="event-description"><%= article.content.split[0..30].join(" ") %>...</p>
      </div>
    </div>
    <% end %>
  </div>
  </div>
